@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    font-family: 'Courier Prime', monospace;
}

:root {
    --primary-color: #881337;
    --dark-grey: #756465;
    --off-white: #ECECEC;
}

hr {
    margin: 2rem 0rem;
}


/* lists */
.list-non-bullet {
    list-style: none;
}


.list-item-inline {
    display: inline;
    padding 0 rem 0.5rem; 
}




/* Navigation */

nav {
    background-color: var(--primary-color);
    color: blanchedalmond;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link-active {
    font-weight: bold;
}

.navigation .link {
    color: white;
    font-size: medium;

}


/* Container */

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    text-decoration-line: none;
    padding: 0.5rem 0.75rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding-top: 0.6rem;
    color: white
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}

/* header */
.KF {
    padding: 2rem;
}

.KF .KF-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.KF .KF-heading {
    color: var(--dark-grey);
    padding-top: 1rem;
}

/* sections */

.section {
    padding: 2rem;
}

.section h3 {
    text-align: center;

}



.just {
    text-align: justify;
    margin: auto;
    max-width: 50%;
}

.ow {
    background-color: var(--off-white);
}



/* footers */

footer{
    background-color: var(--primary-color);
    padding: 2rem;
}
