@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');

body {
    font-family: 'Courier Prime', monospace;
}

:root {
    --primary-color: #881337
}

hr {
    margin: 2rem 0rem;
}


/* lists */
.list-non-bullet {
    list-style: none;
}


.list-item-inline {
    display: inline;
}




/* Navigation */

nav {
    background-color: var(--primary-color);
    color: blanchedalmond;
    border-radius: 0.5rem;
}


.navigation .link {
    color: white
}

/* container */

.container {
    padding-right: 1rem;
    padding-left: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/* links */
.link {
    text-decoration-line: none;
    padding: 0.5rem 0.75rem;
}

.link-primary {
    background-color: var(--primary-color);
    border-radius: 0.5rem;
    padding-top: 0.6rem;
    color: white
}

.link-secondary {
    color: var(--primary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);

}